@font-face {
  font-family: 'GilroyBold';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
    width:100% ;
    height:100%;
    font-family: 'GilroyBold', sans-serif;
    color: #ffffff;
}


.container {
    max-width:1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
   
}

header {
   width: 1280px;
    margin-top: 40px;
    position: fixed;
    width: 100%;
    z-index: 1;

}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
   width: 78px;
    height: 35px;
    top: 40px;
    left: 80px;
    color: #FFFFFF;


}
.list__link__item{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
}
.header__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 478px;
    width: 100%;

}

.list__item {
    font-size: 18px;
    font-weight: 500;
}

.list--menu {
    position: relative;
    display: inline-block;
}


.header__dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
  
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.dropdown__link {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}


 .dropdown__0{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    display: none;
 }
.list__item:hover {
    border: 2px solid blue;
    border-radius: 2px;
    
    }

.header__logo:hover{
    border: 2px solid blue;
    border-radius: 2px;
}

.dropdown__0:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 28px;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}





.header__nav__list:hover {
    border: 2px solid blue;
    border-radius: 2px;
    

}


.icon-wrapper {
  position: relative;
}

.bag-icon {
  color: white;
  font-size: 34px; 
  right: 20px;
}

.dot-icon {
  position: absolute;
  top: -1px; 
  right: -1px; 
  color: orangered;
  font-size: 22px; }


.list__link {
    text-decoration: none;
    color: #FFFFFF;
}
/* .hero__wrapper {
  background: url('/images/hero.jpg') no-repeat center/cover;
  position: relative;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
} */


.hero__wrapper {
  background: url('/images/hero.jpg') no-repeat center/cover;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.hero__content {
  text-align: center;
  color: #FFFFFF;
  max-width: 800px;
  margin: 0 auto;
}



 h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 30px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
form input[type="search"] {
  width: 100%;
  max-width: 400px;
  padding: 15px 20px;
  border-radius:50%; 
  border: none;
  font-size: 16px;
}


form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -50px;
}
























.why-us {
  padding: 80px 0;
  background-color: #f7f7f7; 
  color: #000;
}

.main_container{
    
    width: 100%;
    
    height: 100%;
    display: flex;
    justify-content: space-between;
   
    padding: 20px;
    gap: 30px;
}


.main__title {
  font-weight: 400;
  font-size: 42px;
  text-align: start;
  line-height: 120%;
}





.main__feature {
  
  text-align:start;
  gap: 50px;
}

.main__feature h3{
  
    opacity: 90%;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  
}


.main__feature p {
  
    opacity: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 185%;
}


.par1, 
.fa-arrow-right
 .main__feature_1 {
    left: 405px;
}



.par2,
 .fa-arrow-right
 .main__feature_2{
    left: 730px;
}



.par3,
.fa-arrow-right
 .main__feature_3{
    left: 1055px
}


.main__title:hover,

.main__feature_1:hover,
.main__feature_2:hover,
.main__feature_3:hover,
.par1:hover,
.par2:hover,
.par3:hover {
  text-decoration: underline;
  text-decoration-color:#007bff;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  color: inherit;
}
.main__link{
  width: 121px;
  height: 26 px;
  opacity: 1;
  top: 1358px;  
  color: orangered; 
}


.main__info:hover,
.main__link:hover{
    border: 2px solid #007bff;
    border-radius: 2px;
    
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}















/* სექცია Best */

.best{

background: #f3f3f3;
display: flex;
flex-direction: column;
text-align: center;

}

.best__container{
 
  width: 100%;
  color: #000;
  text-align: center;
  text-align: center;
  padding: 40px 20px;
}

.best__title{

opacity: 1;

font-weight: 400;
font-size: 42px;
line-height: 100%;
margin: 0 auto;
}

.best__content{

background: #EEEEEE;
display: flex;
justify-content: center;
text-align: center;

}


.best__content:hover {
  border: 2px solid #007bff;
  background-color: #EEEEEE; 
}

/* .best__item{


} */

.best__title--name{  
  border-radius: 4px;
  background: #EEEEEE;

}


.best__products--item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 0 px;
  }

.best__price,
.best__name,
.best__stars{
  display: flex;
  flex-direction: column;
}

.products{
  display: flex;
  justify-content: space-between;
  text-align: cnter;
  gap: 30px;
}

.best__products{
display: flex;
justify-content: space-evenly;
text-align: center;

}

.best__card {
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: #fff;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.best__card:hover {
  border: 2px solid #007bff;
  box-shadow: 0 4px 20px rgba(0, 123, 255, 0.1);
}



.best__price{

font-weight: 400;
font-size: 16.76px;
line-height: 100%;
letter-spacing: 0%;
color: #8D8D8D;
}

.best__name{

font-weight: 600;
font-size: 22px;

line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #0D1B39;


}


.best__stars{

opacity: 1;
top: 2136px;
left: 142.33px;
color: #000000;
}

.fa-star{

  display: flex;
  justify-content: space-evenly;
  gap: 5px; /* შუალედი ვარსკვლავებს შორის */
  color: orange;
  font-size: 20px;
}

/* .fa-circle-plus{
width: 225.4374542236328;
height: 48.7430419921875;
angle: 0 deg;
opacity: 1;
top: 2190.84px;
left: 142.33px;
border-radius: 31px;
color: #0D1B39;
} */

/* .best__price,
.best__name,
.best__stars {
  display: flex;
  justify-content: space-between;
} */
.products:hover{
   border: 2px solid #007bff;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}



.best__products--item:hover,
.best_star:hover,
.best__price:hover,
.best__stars:hover,
.best_name:hover{
   border: 2px solid #007bff;
    border-radius: 2px;
    
  }
.best__name {
  transition: all 0.3s ease; 
}

.best__name:hover {
  color: orangered; 
  border: 2px solid #007bff;
  padding: 5px; 
  border-radius: 4px;
  background-color: #f5f5f5; 
}

img:hover,
button:hover{
     border: 2px solid #007bff;
    border-radius: 2px;
}

img{
width: 218px;
height: 255px;
opacity: 1;


}

.best__title--name{
  display: flex;
  justify-content: center;
  font-size: 22px;
}









